<section class="hakkimizda">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 center text-center" style=" color: #f7f7f7">
                <h2 class="h2 h2-responsive">Haspulat Mobilya Hakkında</h2>
                <hr class="hr-white">
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5%">
        <div class="card card-body">
            <p class="h4 text-center mt-4 mb-4">Ne istiyoruz?</p>
            <div style="margin-left: 2%">
                <p>
                    Eskiden insanların sahip olduğu el yapımı,kullanışlı, uzun ömürlü ve kıymetli masaları,rafları,sandalyeleri,divanları günümüz evlerine ve bahçelerine yerleştirmeyi amaçlıyoruz.
                </p>
                <p>
                    Ağaçların sesine kulak verip onların desenlerinden onların hikayelerini size sunuyoruz. Gösterişten çok anlama, sadeliğe ve aynı zamanda kullanışlılığa yöneliyoruz.
                </p>
                <p>
                    Herkesin evi güzeldir. Sizin evinizi sizin mobilyalarınızla donatmak için tasarımlarınıza özel mobilya imalatı yapıyoruz.
                </p>
            </div>
        </div>
    </div>
</section>