<section style="padding-bottom: 5%; margin-top: 18%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 center text-center" style=" color: #f7f7f7">
                    <h2 class="h2 h2-responsive">Tasarım Gönderme</h2>
                    <p style="font-size: 20px">
                        Dilediğiniz tasarımları istediğiniz ölçülerde bize ulaştırın,size ulaşalım ve sizin için üretelim.
                    </p>
                </div>
                <hr class="hr-size" style="border-top: 1px solid rgba(255, 255, 255, 0.267);">
            </div>
        </div>
        <div class="row">
            <div class="col-xl-10 col-lg-11 col-md-12 col-sm-12 center">
                <div class="card card-body">
                    <div class="col-md-11 center">
                        <form>
                            <p class="h4 text-center mt-4 mb-4">Bilgileriniz:</p>
                            <div class="md-form">
                                <i class="fa fa-user prefix grey-text"></i>
                                <input mdbInputDirective type="text" id="materialFormContactNameEx" class="form-control">
                                <label for="materialFormContactNameEx">Adınız ve Soyadınız:</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input mdbInputDirective type="email" id="materialFormContactEmailEx" class="form-control">
                                <label for="materialFormContactEmailEx">E-Mail Adresiniz:</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-phone  prefix grey-text"></i>
                                <input mdbInputDirective type="text" id="materialFormContactSubjectEx" class="form-control">
                                <label for="materialFormContactSubjectEx">Telefon Numaranız:</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-pencil prefix grey-text"></i>
                                <textarea mdbInputDirective type="text" id="materialFormContactMessageEx" class="form-control md-textarea" rows="3"></textarea>
                                <label for="materialFormContactMessageEx">Tasarım Detaylarınız:</label>
                            </div>
                            <div class="text-center mt-4">
                                <button class="btn btn-ahsap" type="submit">gönder<i class="fa fa-paper-plane-o ml-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 center">
                <div class="card card-body">
                    <p class="h4 text-center mt-4 mb-4">Tasarımınız Hakkında</p>
                    <ol style="list-style: 1">
                        <li style="margin-bottom: 2%;">
                            Öncelikle size hitap edebilmemiz ve ulaşabilmemiz için  Ad-Soyad , Email ve Telefon Numaranızı eksiksiz girmeniz gerekmektedir.
                        </li>
                        <li style="margin-bottom: 2%;">
                            Tasarım Detayları bölümünde tasarladığınız mobilyanın ölçüleri, evinizde kullanmayı düşündüğünüz oda ve yer (Örneğin Mutfakta Köşede,Salonda-Dilediğim Yerdee gibi)  sevdiğiniz renk kombinasyonları,
                            mat veya parlak yüzey seçimleriniz, pürüzsüz veya ahşap dokulu, (varsa) metal yüzeylerden beklentiniz gibi bilgileri bizimle paylaşmanız tam olarak istediğiniz mobilyayı anlamamıza yardımcı olacaktır.
                            Yüklediğim tasarımda belirtildiği gibi olan yerleri belirtmenizde bize yardımcı olacaktır. 
                            (Başka Markalara Ait Mobilyaların birebir kopyasını yapmamız mümkün değildir.)
                        </li>
                        <li style="margin-bottom: 2%;">
                            Belirtmeniz halinde tasarlarınız hakkında size telefonunuzdan ulaşıp ayrıntıları sizden dinleyeceğiz.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>