<footer class="page-footer font-small blue" style="padding-top: 3%">
    <div class="container-fluid text-md-left">
        <div class="row">
            <div class="col-md-4 mt-md-0 mt-3 text-center">
                <h5 class="text-uppercase">Haspulat Mobilya</h5>
                <p style="font-size: 18px">Mobilyalarımız endüstriyel amaçlı ağaçlardan doğaya zarar verilmeden üretilmiştir.</p>
            </div>            
            <div class="col-md-4 mb-md-0 mb-3 text-center">
                <h5 class="text-uppercase">Linkleri</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/anasayfa">Ana Sayfa</a>
                    </li>
                    <li>
                        <a routerLink="/tasarim_yolla">Tasarım Yolayin</a>
                    </li>
                    <li>
                        <a routerLink="/hakkimizda">Hakkımızda</a>
                    </li>
                    <!-- <li>
                        <a href="#!">Link 4</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-4 col-sm-5 text-center">
                <h5>Bizim adresimiz</h5>
                <address>
                    İslamsaray Mahallesi Burcu Sokak No: 4\A<br>
                    Haspulat Makina<br>
                    Bergama , İzmir<br>
                    <i class="fa fa-phone fa-lg"></i> : +90 554 354 08 72 <br>
                    <i class="fa fa-envelope fa-lg"></i> : <a href="mailto:haspulatmobilya@gmail.com">haspulatmobilya@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 telif hakkı:
        <a href="https://haspulatmobilya.com/">Haspulatmobilya.com</a>
    </div>
</footer>