<div class="container-fluid contact">
    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 center">
        <h2 class="h1-responsive font-weight-bold text-center my-5" style="color: #DCE3E7">Bize Ulaşın</h2>
        <div class="card card-body">
            <section class="section">
                <p  class="text-center w-responsive mx-auto mb-5">
                    Mobilyalarınız hakkında her türlü sorunuzu yanıtlamaya hazırız.
                </p>
                <div class="row">
                    <div class="col-md-9 mb-md-0 mb-5">
                        <form id="contact-form" name="contact-form" action="" method="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input mdbInputDirective type="text" id="name" name="name" class="form-control">
                                        <label for="name" class="">Adınız</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form mb-0">
                                        <input mdbInputDirective type="text" id="email" name="email" class="form-control">
                                        <label for="email" class="">E-posta adresiniz</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form mb-0">
                                        <input mdbInputDirective type="text" id="subject" name="subject" class="form-control">
                                        <label for="subject" class="">Konu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
            
                                    <div class="md-form">
                                        <textarea mdbInputDirective type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                        <label for="message">Mesajınız</label>
                                    </div>
            
                                </div>
                            </div>
                        </form>
                        <div class="text-center">
                            <a class="btn btn-ahsap" onclick="document.getElementById('contact-form').submit();">Gönder</a>
                        </div>
                        <div class="status"></div>
                    </div>
                    <div class="col-md-3 text-center">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <i class="fa fa-map-marker fa-2x" style="color: #3b9158"></i>
                                <br> 
                                <a href="https://www.google.com/maps/place/39%C2%B007'02.0%22N+27%C2%B010'35.9%22E/@39.11722,27.1744533,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x14b9f87a217c77d7:0x682b18b696cbe377!2zQmVyZ2FtYSwgxLB6bWly!3b1!8m2!3d39.121449!4d27.179913!3m5!1s0x0:0x0!7e2!8m2!3d39.1172203!4d27.1766422" style="color: #212529">
                                    BERGAMA, İZMİR, TÜRKİYE
                                </a>
                            </li>
            
                            <li><i class="fa fa-phone mt-4 fa-2x" style="color: #3b9158"></i>
                                <br> <a href="tel:+905532034815" style="color: #212529">+90 554 354 08 72</a>
                            </li>
            
                            <li><i class="fa fa-envelope mt-4 fa-2x" style="color: #3b9158"></i>
                                <br> <a href="mailto:hamzahajyousef@gmail.com" style="color: #212529">haspulatmobilya@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 center">
        <h2 class="h1-responsive font-weight-bold text-center my-5" style="color: #DCE3E7">Konumumuz</h2>
        <div class="card card-body">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3095.6584322806943!2d27.199176549911495!3d39.11424593243154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b9f8604961264d%3A0x963b351eec9af2d2!2s%C4%B0slamsaray+Mahallesi%2C+35700+Bergama%2F%C4%B0zmir!5e0!3m2!1sen!2str!4v1534087865232" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>              
        </div>
    </div>
</div>