<section style="padding-bottom: 5%; margin-top: 18%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xl-6 col-lg-8 col-md-8 center text-center" style=" color: #f7f7f7">
                    <h2 class="h2 h2-responsive">Sizin Kitaplığınız</h2>
                    <p style="font-size: 20px">
                        Tasarımınızı bize yollayın sizin için üretelim.
                    </p>
                    <div class="col-md-6 center">
                        <a routerLink="/tasarim_yolla"class="btn btn-ahsap center">Tasarım Yollayın</a>
                    </div>
                </div>
                <hr class="hr-size" style="border-top: 1px solid rgba(255, 255, 255, 0.267);">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 center">
                <div class="headeing">
                    <p class="display-1"><i class="fa fa-shopping-basket" style="color: #3b9158"></i></p>
                    <p class="h1-responsive font-weight-bold" style="color: #DCE3E7">KİTAPLIKLAR</p>
                    <hr class="hr-size" style="border-top: 1px solid rgba(255, 255, 255, 0.267); width: 50%">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="card card-erpulat">
                            <div class="spring-fever" style="background-image: url('assets/s1.jpg');">
                                <p class="title-content">Klasik Tasarımlar</p>
                                <hr class="hr-pulat">
                                <p class="intro text-center">Klasik</p>
                                <div class="card-info">
                                    <a routerLink="/urun" class="btn btn-ahsap" style="margin-bottom: 20%">fazla bilgi için</a>
                                    <br>
                                    Özel Koleksiyonumuza göz atın
                                </div>
                                <div class="color-overlay"></div>
                                <div class="gradient-overlay"></div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>